In [45]:
%reload_ext autoreload
%autoreload 2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [46]:
import pandas as pd
import numpy as np

1. Read hourly wage data

In [47]:
# Hourly wages needed to afford a two-bedroom apartment in California
# United States from 2021 to 2024, by metro (in U.S. dollars)
# Sources: https://www.statista.com/statistics/1260959/us-two-bedroom-housing-wage-california/
hourly_wage = pd.read_excel('../data/wage_housing.xlsx', sheet_name='Data')
hourly_wage

                                Metro   2021   2022   2023   2024
0              Santa Cruz-Watsonville  58.10  60.35  63.33  77.96
1                       San Francisco  68.33  61.50  61.31  64.60
2      San Jose-Sunnyvale-Santa Clara  58.67  55.15  56.56  60.23
3           Santa Maria-Santa Barbara  45.65  48.38  51.29  57.58
4                             Salinas  34.48  37.83  51.44  55.37
5      San Diego-Chula Vista-Carlsbad  40.85  42.92  46.13  54.48
6            Santa Ana-Anaheim-Irvine  44.83  44.69  48.83  53.52
7                                Napa  38.81  41.62  45.92  51.62
8                     Oakland-Fremont  45.83  43.73  46.25  49.81
9     Los Angeles-Long Beach-Glendale  39.58  39.31  42.73  48.92
10                  San Benito County  32.19  31.71  41.44  48.44
11       Oxnard-Thousand Oaks-Ventura  36.98  42.65  46.63  46.42
12                Santa Rosa-Petaluma  38.38  39.19  43.31  45.71
13                            Vallejo  31.10  32.25  37.75  44.38
14        San Luis Obispo-Paso Robles  32.02  36.35  39.52  43.73
15  Sacramento-Roseville-Arden-Arcade  28.75  29.67  33.77  39.85
16   Riverside-San Bernardino-Ontario  26.73  29.02  33.67  38.65
17                               Yolo  29.06  32.38  35.60  38.08
18                           Stockton  24.42  25.10  29.10  30.90
19                            Modesto  23.54  24.04  26.25  29.38
20                            Redding  23.42  24.13  25.75  28.60
21                          Yuba City  21.58  22.56  24.77  28.10
22                             Fresno  20.46  21.87  24.19  27.75
23                             Madera  22.13  23.04  24.19  27.54
24                              Chico  22.92  22.63  23.83  27.46
25                             Merced  20.52  21.54  23.90  27.31
26                   Hanford-Corcoran  21.33  22.35  24.75  26.37
27                            Visalia  18.44  19.33  21.46  24.98
28                          El Centro  20.38  20.48  22.21  24.73
29                        Bakersfield  18.65  19.48  21.87  24.19

In [48]:
# 30 choosable metro area in total
metros = hourly_wage['Metro'].unique().tolist()
metros

['Santa Cruz-Watsonville',
 'San Francisco',
 'San Jose-Sunnyvale-Santa Clara',
 'Santa Maria-Santa Barbara',
 'Salinas',
 'San Diego-Chula Vista-Carlsbad',
 'Santa Ana-Anaheim-Irvine',
 'Napa',
 'Oakland-Fremont',
 'Los Angeles-Long Beach-Glendale',
 'San Benito County',
 'Oxnard-Thousand Oaks-Ventura',
 'Santa Rosa-Petaluma',
 'Vallejo',
 'San Luis Obispo-Paso Robles',
 'Sacramento-Roseville-Arden-Arcade',
 'Riverside-San Bernardino-Ontario',
 'Yolo',
 'Stockton',
 'Modesto',
 'Redding',
 'Yuba City',
 'Fresno',
 'Madera',
 'Chico',
 'Merced',
 'Hanford-Corcoran',
 'Visalia',
 'El Centro',
 'Bakersfield']

2. Read and merge housing related data

In [49]:
df = pd.read_csv("../data/merged_data.csv")
# extract 'year' in 2021, 2022, 2023, 2024
df = df[df['Year'] >= 2021].reset_index(drop=True)
df = df.drop(columns=['RegionType','StateName','HomeValue','ObservedRent'])

# Standardize the 'Metro' column
df['Metro'] = df['Metro'].str.replace(', CA', '')
df['Metro'].unique()

df.head()

array(['Los Angeles-Long Beach-Anaheim',
       'Riverside-San Bernardino-Ontario',
       'San Francisco-Oakland-Berkeley', 'Bakersfield',
       'San Diego-Chula Vista-Carlsbad', 'Oxnard-Thousand Oaks-Ventura',
       'Santa Cruz-Watsonville', 'Fresno', 'Sacramento-Roseville-Folsom',
       'San Jose-Sunnyvale-Santa Clara', 'Visalia', 'Vallejo',
       'Hanford-Corcoran', 'Napa', 'Salinas', 'Stockton', 'Modesto',
       'Santa Maria-Santa Barbara', 'El Centro', 'Madera', 'Merced',
       'San Luis Obispo-Paso Robles', 'Santa Rosa-Petaluma', 'Redding',
       'Yuba City', 'Chico', 'Ukiah', 'Red Bluff', 'Sonora',
       'Truckee-Grass Valley', 'Eureka-Arcata', 'Crescent City', nan,
       'Susanville', 'Clearlake'], dtype=object)

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,Violent Crimes Count,30 yr FRM,15 yr FRM,Month,Unemployment Rate
0,95992,90011,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,231431.166667,4810.0,227695.0,58177.0,2.73,2.2,1,11.0
1,96193,90650,Norwalk,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,445185.666667,4810.0,227695.0,58177.0,2.73,2.2,1,11.0
2,96361,91331,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,332976.500000,4810.0,227695.0,58177.0,2.73,2.2,1,11.0
3,96025,90044,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,233441.666667,4810.0,227695.0,58177.0,2.73,2.2,1,11.0
4,96817,92336,Fontana,Riverside-San Bernardino-Ontario,San Bernardino County,2021-01-31,2021,583602.833333,515.0,38777.0,12736.0,2.73,2.2,1,8.9

In [50]:
# Add air quality data
air_quality = pd.read_csv('../data/air_quality.csv')
air_quality = air_quality[air_quality['Year'] >= 2021].reset_index(drop=True)
air_quality.head()
air_quality['CBSA'].unique()

,CBSA,# Days with AQI,Good,Moderate,Unhealthy for Sensitive Groups,Unhealthy,Very Unhealthy,Hazardous,Year
0,Bakersfield,365,35,202,97,29,1,1,2021
1,Bishop,365,100,222,25,12,3,3,2021
2,Chico,365,160,174,18,10,3,0,2021
3,Clearlake,356,348,7,0,1,0,0,2021
4,Crescent City,323,259,64,0,0,0,0,2021

array(['Bakersfield', 'Bishop', 'Chico', 'Clearlake', 'Crescent City',
       'El Centro', 'Eureka-Arcata-Fortuna', 'Fresno', 'Hanford-Corcoran',
       'Los Angeles-Long Beach-Anaheim', 'Madera', 'Merced', 'Modesto',
       'Napa', 'Oxnard-Thousand Oaks-Ventura', 'Red Bluff', 'Redding',
       'Riverside-San Bernardino-Ontario',
       'Sacramento--Roseville--Arden-Arcade', 'Salinas',
       'San Diego-Carlsbad', 'San Francisco-Oakland-Hayward',
       'San Jose-Sunnyvale-Santa Clara',
       'San Luis Obispo-Paso Robles-Arroyo Grande',
       'Santa Cruz-Watsonville', 'Santa Maria-Santa Barbara',
       'Santa Rosa', 'Sonora', 'Stockton-Lodi', 'Truckee-Grass Valley',
       'Ukiah', 'Vallejo-Fairfield', 'Visalia-Porterville', 'Yuba City'],
      dtype=object)

In [51]:
# turn to percentage
air_quality['Good_Percentage'] = air_quality['Good'] / air_quality['# Days with AQI']
air_quality['Moderate_Percentage'] = air_quality['Moderate'] / air_quality['# Days with AQI']
air_quality['Unhealthy_Sensitive_Percentage'] = air_quality['Unhealthy for Sensitive Groups'] / air_quality['# Days with AQI']
air_quality['Unhealthy_Percentage'] = air_quality['Unhealthy'] / air_quality['# Days with AQI']
air_quality['Very_Unhealthy_Percentage'] = air_quality['Very Unhealthy'] / air_quality['# Days with AQI']
air_quality['Hazardous_Percentage'] = air_quality['Hazardous'] / air_quality['# Days with AQI']

In [52]:
# Add air quality data
air_quality.drop(columns=['# Days with AQI','Good', 'Moderate', 'Unhealthy for Sensitive Groups', 'Unhealthy', 'Very Unhealthy', 'Hazardous'], inplace=True)

df = pd.merge(
    df, 
    air_quality, 
    how='left',
    left_on=['Metro', 'Year'],
    right_on=['CBSA', 'Year']
).drop(columns=['CBSA'])

df.head()

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,...,30 yr FRM,15 yr FRM,Month,Unemployment Rate,Good_Percentage,Moderate_Percentage,Unhealthy_Sensitive_Percentage,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage
0,95992,90011,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,231431.166667,4810.0,227695.0,...,2.73,2.2,1,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000
1,96193,90650,Norwalk,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,445185.666667,4810.0,227695.0,...,2.73,2.2,1,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000
2,96361,91331,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,332976.500000,4810.0,227695.0,...,2.73,2.2,1,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000
3,96025,90044,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,233441.666667,4810.0,227695.0,...,2.73,2.2,1,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000
4,96817,92336,Fontana,Riverside-San Bernardino-Ontario,San Bernardino County,2021-01-31,2021,583602.833333,515.0,38777.0,...,2.73,2.2,1,8.9,0.024658,0.520548,0.227397,0.189041,0.032877,0.005479

In [53]:
# Add property tax data
property_tax = pd.read_csv('../data/property_tax.csv')
property_tax = property_tax[property_tax['Fiscal Year'] >= 2021].reset_index(drop=True)
property_tax.head()

df = pd.merge(
    df,
    property_tax,
    how='left',
    left_on=['City_x', 'Year'],
    right_on=['Entity Name', 'Fiscal Year']
).drop(columns=['Entity Name', 'Fiscal Year'])

df.head()

,Entity Name,Fiscal Year,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide
0,Alameda,2024,383309889063,20724551937,4057200928
1,Alpine,2024,877410856,52661850,9315257
2,Amador,2024,6748483386,158734055,69662404
3,Butte,2024,27493712143,1504770644,292168666
4,Calaveras,2024,9677714382,177275465,96531284

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,...,Unemployment Rate,Good_Percentage,Moderate_Percentage,Unhealthy_Sensitive_Percentage,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide
0,95992,90011,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,231431.166667,4810.0,227695.0,...,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10
1,96193,90650,Norwalk,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,445185.666667,4810.0,227695.0,...,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000,NaN,NaN,NaN
2,96361,91331,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,332976.500000,4810.0,227695.0,...,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10
3,96025,90044,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,233441.666667,4810.0,227695.0,...,11.0,0.024658,0.706849,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10
4,96817,92336,Fontana,Riverside-San Bernardino-Ontario,San Bernardino County,2021-01-31,2021,583602.833333,515.0,38777.0,...,8.9,0.024658,0.520548,0.227397,0.189041,0.032877,0.005479,NaN,NaN,NaN

In [54]:
# Add 2020 Census Data
CensusData = pd.read_csv("../data/census_data.csv")
CensusData.head()

# Treat 2020 as an average estimate of the population
df = pd.merge(
    df, 
    CensusData, 
    left_on='RegionName', 
    right_on = "ZIP", 
    how='left'
).drop(columns=['ZIP'])
df.shape
df.head()

,ZIP,Total Population,Land Area in Square Miles,Population Per Square Mile (Land Area)
0,90001,55859,3.280100,17029.66501
1,90002,53150,2.992546,17760.79685
2,90003,72764,3.625301,20071.15903
3,90004,58585,3.050773,19203.32847
4,90005,37987,1.179832,32196.94339

(70978, 27)

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,...,Unhealthy_Sensitive_Percentage,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide,Total Population,Land Area in Square Miles,Population Per Square Mile (Land Area)
0,95992,90011,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,231431.166667,4810.0,227695.0,...,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,102308.0,4.288978,23853.700320
1,96193,90650,Norwalk,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,445185.666667,4810.0,227695.0,...,0.194521,0.071233,0.002740,0.000000,NaN,NaN,NaN,102891.0,9.902496,10390.410580
2,96361,91331,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,332976.500000,4810.0,227695.0,...,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,100720.0,9.344649,10778.361310
3,96025,90044,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,233441.666667,4810.0,227695.0,...,0.194521,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,94354.0,5.102164,18492.938250
4,96817,92336,Fontana,Riverside-San Bernardino-Ontario,San Bernardino County,2021-01-31,2021,583602.833333,515.0,38777.0,...,0.227397,0.189041,0.032877,0.005479,NaN,NaN,NaN,100594.0,19.884882,5058.818126

In [55]:
# Add accessibility of healthcare facilities (static data)
healthCare = pd.read_csv("../data/healthcare_data.csv")
healthCare.head()

healthCare['HealthCareFacilityAmmount'] = healthCare.groupby('ZIP')['ZIP'].transform('count')
zip_facility_count = healthCare[['ZIP', 'HealthCareFacilityAmmount']].drop_duplicates().reset_index(drop=True)
df = pd.merge(df, zip_facility_count, left_on='RegionName', right_on = "ZIP", how='left').drop(columns=['ZIP'])
df['HealthCareFacilityAmmount'] = df['HealthCareFacilityAmmount'].fillna(0).astype(int)
df.shape
df.head()

   _id                                       FACNAME           CITY    ZIP
0    1                           VINEYARD POST ACUTE       PETALUMA  94954
1    2  CREEKSIDE REHABILITATION & BEHAVIORAL HEALTH     SANTA ROSA  95404
2    3                 CRESCENT CITY SKILLED NURSING  CRESCENT CITY  95531
3    4                           RIDGEWAY POST ACUTE       PETALUMA  94952
4    5           GRANADA REHAB & WELLNESS CENTER, LP         EUREKA  95503

(70978, 28)

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,...,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide,Total Population,Land Area in Square Miles,Population Per Square Mile (Land Area),HealthCareFacilityAmmount
0,95992,90011,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,231431.166667,4810.0,227695.0,...,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,102308.0,4.288978,23853.700320,20
1,96193,90650,Norwalk,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,445185.666667,4810.0,227695.0,...,0.071233,0.002740,0.000000,NaN,NaN,NaN,102891.0,9.902496,10390.410580,26
2,96361,91331,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,332976.500000,4810.0,227695.0,...,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,100720.0,9.344649,10778.361310,33
3,96025,90044,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2021-01-31,2021,233441.666667,4810.0,227695.0,...,0.071233,0.002740,0.000000,1.664567e+12,5.458065e+10,1.726113e+10,94354.0,5.102164,18492.938250,13
4,96817,92336,Fontana,Riverside-San Bernardino-Ontario,San Bernardino County,2021-01-31,2021,583602.833333,515.0,38777.0,...,0.189041,0.032877,0.005479,NaN,NaN,NaN,100594.0,19.884882,5058.818126,7

3. Standardize housing data "Metro" expression

In [56]:
# merge df with hourly_wage
for metro in metros:
    df_metro = df[df['Metro'] == metro]
    if df_metro.empty:
        print(f'{metro} is not in the dataset')

San Francisco is not in the dataset
Santa Ana-Anaheim-Irvine is not in the dataset
Oakland-Fremont is not in the dataset
Los Angeles-Long Beach-Glendale is not in the dataset
San Benito County is not in the dataset
Sacramento-Roseville-Arden-Arcade is not in the dataset
Yolo is not in the dataset

In [57]:
# Fix Yolo & Sacramento-Roseville-Arden-Arcade
df.loc[
    (df["Metro"] == "Sacramento-Roseville-Folsom") & (df["City_x"] == "Yolo"),
    "Metro"
] = "Yolo"

df.loc[
    (df["Metro"] == "Sacramento-Roseville-Folsom") & (df["City_x"] != "Yolo"),
    "Metro"
] = "Sacramento-Roseville-Arden-Arcade"

In [58]:
# Fix San Francisco & Oakland-Fremont
df.loc[
    (df["City_x"] == "San Francisco"),
    "Metro"
] = "San Francisco"

df.loc[
    (df["Metro"] == "San Francisco-Oakland-Berkeley"),
    "Metro"
] = "Oakland-Fremont"

In [59]:
# Fix Santa Ana-Anaheim-Irvine & Los Angeles-Long Beach-Glendale
df.loc[
    (df["City_x"].isin(["Santa Ana", "Anaheim", "Irvine"])),
    "Metro"
] = "Santa Ana-Anaheim-Irvine"

df.loc[
    (df["Metro"] == "Los Angeles-Long Beach-Anaheim") & 
    (~df["City_x"].isin(["Santa Ana", "Anaheim", "Irvine"])),
    "Metro"
] = "Los Angeles-Long Beach-Glendale"

In [60]:
# Fix San Benito County
df.loc[
    (df["CountyName"] == "San Benito County"),
    "Metro"
] = "San Benito County"

In [61]:
for metro in metros:
    df_metro = df[df['Metro'] == metro]
    if df_metro.empty:
        print(f'{metro} is not in the dataset')

4. Deal with missing values

In [62]:
# deal with na values
# see the null values in each column
df.isnull().sum()

RegionID                                      0
RegionName                                    0
City_x                                     1518
Metro                                      4738
CountyName                                    0
Date                                          0
Year                                          0
agi_by_zipcode                            53806
Arson Count                               20290
Property Crimes Count                     20290
Violent Crimes Count                      20290
30 yr FRM                                     0
15 yr FRM                                     0
Month                                         0
Unemployment Rate                             0
Good_Percentage                           28976
Moderate_Percentage                       28976
Unhealthy_Sensitive_Percentage            28976
Unhealthy_Percentage                      28976
Very_Unhealthy_Percentage                 28976
Hazardous_Percentage                      28976
Secured_Net Taxable Value                 58788
Unsecured_Net Taxable Value               58788
Total Taxes Levied Countywide             58788
Total Population                             92
Land Area in Square Miles                    92
Population Per Square Mile (Land Area)       92
HealthCareFacilityAmmount                     0
dtype: int64

In [63]:
# drop rows with missing values in Metro
df.shape
df = df.dropna(subset=['Metro','Total Population']).reset_index(drop=True)
df.shape

(70978, 28)

(66148, 28)

In [64]:
# Use interpolation for AGI based on years
df = df.sort_values(by=["RegionName", "Year"])
df["agi_by_zipcode"] = df.groupby("RegionName")["agi_by_zipcode"].transform(
    lambda x: x.interpolate(method="linear")
)
county_year_avg = df.groupby(["CountyName", "Year"])["agi_by_zipcode"].transform("mean")
df["agi_by_zipcode"] = df["agi_by_zipcode"].fillna(county_year_avg)

In [65]:
import warnings
warnings.filterwarnings('ignore')

# For Crime, we will use median for the same CountyName and Date
df['Arson Count'] = df.groupby('CountyName')['Arson Count'].transform(lambda x: x.fillna(x.median()))
df['Arson Count'] = df.groupby('Date')['Arson Count'].transform(lambda x: x.fillna(x.median()))
df['Violent Crimes Count'] = df.groupby('CountyName')['Violent Crimes Count'].transform(lambda x: x.fillna(x.median()))
df['Violent Crimes Count'] = df.groupby('Date')['Violent Crimes Count'].transform(lambda x: x.fillna(x.median()))
df['Property Crimes Count'] = df.groupby('CountyName')['Property Crimes Count'].transform(lambda x: x.fillna(x.median()))
df['Property Crimes Count'] = df.groupby('Date')['Property Crimes Count'].transform(lambda x: x.fillna(x.median()))

In [71]:
# Filling Air Quality Metrics with Yearly Averages
air_quality_columns = [
    "Good_Percentage", "Moderate_Percentage", "Unhealthy_Sensitive_Percentage",
    "Unhealthy_Percentage", "Very_Unhealthy_Percentage", "Hazardous_Percentage"
]
for col in air_quality_columns:
    df[col] = df.groupby("Year")[col].transform(lambda x: x.fillna(x.mean()))

In [72]:
# Filling Tax Values with Yearly Median
tax_columns = [
    "Secured_Net Taxable Value", "Unsecured_Net Taxable Value", "Total Taxes Levied Countywide"
]
for col in tax_columns:
    df[col] = df.groupby("Year")[col].transform(lambda x: x.fillna(x.median()))

In [73]:
df.isnull().sum()

RegionID                                     0
RegionName                                   0
City_x                                    1012
Metro                                        0
CountyName                                   0
Date                                         0
Year                                         0
agi_by_zipcode                               0
Arson Count                                  0
Property Crimes Count                        0
Violent Crimes Count                         0
30 yr FRM                                    0
15 yr FRM                                    0
Month                                        0
Unemployment Rate                            0
Good_Percentage                              0
Moderate_Percentage                          0
Unhealthy_Sensitive_Percentage               0
Unhealthy_Percentage                         0
Very_Unhealthy_Percentage                    0
Hazardous_Percentage                         0
Secured_Net Taxable Value                    0
Unsecured_Net Taxable Value                  0
Total Taxes Levied Countywide                0
Total Population                             0
Land Area in Square Miles                    0
Population Per Square Mile (Land Area)       0
HealthCareFacilityAmmount                    0
dtype: int64

5. Generate a new df with information per Metro, per year

In [74]:
# transform the time frequency of df
df.columns

df.head()

Index(['RegionID', 'RegionName', 'City_x', 'Metro', 'CountyName', 'Date',
       'Year', 'agi_by_zipcode', 'Arson Count', 'Property Crimes Count',
       'Violent Crimes Count', '30 yr FRM', '15 yr FRM', 'Month',
       'Unemployment Rate', 'Good_Percentage', 'Moderate_Percentage',
       'Unhealthy_Sensitive_Percentage', 'Unhealthy_Percentage',
       'Very_Unhealthy_Percentage', 'Hazardous_Percentage',
       'Secured_Net Taxable Value', 'Unsecured_Net Taxable Value',
       'Total Taxes Levied Countywide', 'Total Population',
       'Land Area in Square Miles', 'Population Per Square Mile (Land Area)',
       'HealthCareFacilityAmmount'],
      dtype='object')

,RegionID,RegionName,City_x,Metro,CountyName,Date,Year,agi_by_zipcode,Arson Count,Property Crimes Count,...,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide,Total Population,Land Area in Square Miles,Population Per Square Mile (Land Area),HealthCareFacilityAmmount
103,95982,90001,Florence-Graham,Los Angeles-Long Beach-Glendale,Los Angeles County,2021-01-31,2021,138925.5,4810.0,227695.0,...,0.071233,0.00274,0.0,5.646313e+11,1.764775e+10,5.856552e+09,55859.0,3.2801,17029.66501,5
1541,95982,90001,Florence-Graham,Los Angeles-Long Beach-Glendale,Los Angeles County,2021-02-28,2021,138925.5,4810.0,227695.0,...,0.071233,0.00274,0.0,5.646313e+11,1.764775e+10,5.856552e+09,55859.0,3.2801,17029.66501,5
2979,95982,90001,Florence-Graham,Los Angeles-Long Beach-Glendale,Los Angeles County,2021-03-31,2021,138925.5,4810.0,227695.0,...,0.071233,0.00274,0.0,5.646313e+11,1.764775e+10,5.856552e+09,55859.0,3.2801,17029.66501,5
4417,95982,90001,Florence-Graham,Los Angeles-Long Beach-Glendale,Los Angeles County,2021-04-30,2021,138925.5,4810.0,227695.0,...,0.071233,0.00274,0.0,5.646313e+11,1.764775e+10,5.856552e+09,55859.0,3.2801,17029.66501,5
5855,95982,90001,Florence-Graham,Los Angeles-Long Beach-Glendale,Los Angeles County,2021-05-31,2021,138925.5,4810.0,227695.0,...,0.071233,0.00274,0.0,5.646313e+11,1.764775e+10,5.856552e+09,55859.0,3.2801,17029.66501,5

In [75]:
# group by metro and year
agg_funcs = {
    "agi_by_zipcode": "mean",
    "Unemployment Rate": "mean",
    "Population Per Square Mile (Land Area)": "mean",
    "Arson Count": "sum",
    "Property Crimes Count": "sum",
    "Violent Crimes Count": "sum",
    "30 yr FRM": "mean",
    "15 yr FRM": "mean",
    'Good_Percentage': "mean", 
    'Moderate_Percentage': "mean",
    'Unhealthy_Sensitive_Percentage': "mean", 
    'Unhealthy_Percentage': "mean",
    'Very_Unhealthy_Percentage': "mean", 
    'Hazardous_Percentage': "mean",
    "Secured_Net Taxable Value": "sum",
    "Unsecured_Net Taxable Value": "sum",
    "Total Taxes Levied Countywide": "sum",
    "Total Population": "sum",
    "Land Area in Square Miles": "sum",
    "HealthCareFacilityAmmount": "sum",
}
grouped_df = df.groupby(["Metro", "Year"]).agg(agg_funcs).reset_index()
grouped_df.shape
grouped_df.head()

(152, 22)

,Metro,Year,agi_by_zipcode,Unemployment Rate,Population Per Square Mile (Land Area),Arson Count,Property Crimes Count,Violent Crimes Count,30 yr FRM,15 yr FRM,...,Unhealthy_Sensitive_Percentage,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide,Total Population,Land Area in Square Miles,HealthCareFacilityAmmount
0,Bakersfield,2021,95716.932051,9.933333,885.379881,224640.0,14019840.0,3224640.0,2.987500,2.298333,...,0.265753,0.079452,0.002740,0.00274,2.710230e+14,8.470922e+12,2.811145e+12,10854468.0,62311.350419,2820
1,Bakersfield,2022,95716.932051,7.058333,885.379881,203520.0,14180160.0,3209760.0,5.470000,4.720000,...,0.298630,0.032877,0.002740,0.00000,2.818927e+14,8.050366e+12,2.909616e+12,10854468.0,62311.350419,2820
2,Bakersfield,2023,95716.932051,8.316667,885.379881,183360.0,11875200.0,3635520.0,6.798333,6.094167,...,0.158904,0.032877,0.000000,0.00000,3.042887e+14,9.449879e+12,3.153184e+12,10854468.0,62311.350419,2820
3,Bakersfield,2024,95716.932051,9.060000,885.379881,169600.0,11683200.0,2687200.0,6.741000,6.002000,...,0.182482,0.025547,0.000000,0.00000,2.709119e+14,9.007054e+12,2.812187e+12,9045390.0,51926.125349,2350
4,Chico,2021,71941.153333,6.900000,648.974157,16320.0,976140.0,226440.0,2.987500,2.298333,...,0.049315,0.027397,0.008219,0.00000,1.151848e+14,3.600142e+12,1.194737e+12,2539068.0,18687.484214,924

6. Merge housing info with hourly wage info

In [76]:
hourly_wage_long = pd.melt(hourly_wage, id_vars=["Metro"], var_name="Year", value_name="Hourly_Wage")
hourly_wage_long["Year"] = hourly_wage_long["Year"].astype(int)
hourly_wage_long

                              Metro  Year  Hourly_Wage
0            Santa Cruz-Watsonville  2021        58.10
1                     San Francisco  2021        68.33
2    San Jose-Sunnyvale-Santa Clara  2021        58.67
3         Santa Maria-Santa Barbara  2021        45.65
4                           Salinas  2021        34.48
..                              ...   ...          ...
115                          Merced  2024        27.31
116                Hanford-Corcoran  2024        26.37
117                         Visalia  2024        24.98
118                       El Centro  2024        24.73
119                     Bakersfield  2024        24.19

[120 rows x 3 columns]

In [77]:
final_merged_df = pd.merge(grouped_df, hourly_wage_long, on=["Metro", "Year"], how="right")
final_merged_df

,Metro,Year,agi_by_zipcode,Unemployment Rate,Population Per Square Mile (Land Area),Arson Count,Property Crimes Count,Violent Crimes Count,30 yr FRM,15 yr FRM,...,Unhealthy_Percentage,Very_Unhealthy_Percentage,Hazardous_Percentage,Secured_Net Taxable Value,Unsecured_Net Taxable Value,Total Taxes Levied Countywide,Total Population,Land Area in Square Miles,HealthCareFacilityAmmount,Hourly_Wage
0,Santa Cruz-Watsonville,2021,184538.357143,6.925000,2134.152589,14208.0,1051776.0,201984.0,2.9875,2.298333,...,0.000000,0.000000,0.000000,8.368753e+13,2.590842e+12,8.677690e+11,3345180.0,5190.212484,660,58.10
1,San Francisco,2021,711250.141026,5.083333,23671.203159,118560.0,14122680.0,1549392.0,2.9875,2.298333,...,0.067092,0.007273,0.001098,8.857211e+13,5.467550e+12,9.422773e+11,10454196.0,540.461265,1896,68.33
2,San Jose-Sunnyvale-Santa Clara,2021,661890.393939,4.808333,5592.205615,308448.0,28221984.0,4569600.0,2.9875,2.298333,...,0.000000,0.000000,0.000000,3.779104e+14,1.233564e+13,3.924579e+12,23042268.0,12290.999499,3648,58.67
3,Santa Maria-Santa Barbara,2021,213170.238889,5.800000,1280.614827,19908.0,2429784.0,434952.0,2.9875,2.298333,...,0.000000,0.000000,0.000000,1.080137e+14,3.419268e+12,1.120676e+12,5274912.0,21947.353856,1368,45.65
4,Salinas,2021,125022.500000,8.350000,1389.859772,19296.0,2060352.0,586080.0,2.9875,2.298333,...,0.000000,0.000000,0.000000,1.567003e+14,4.905266e+12,1.625409e+12,5044380.0,30884.108637,1080,34.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Merced,2024,70194.018750,9.810000,365.823322,32470.0,1120300.0,311610.0,6.7410,6.002000,...,0.000000,0.000000,0.000000,8.932025e+13,3.025006e+12,9.277234e+11,2786340.0,15644.541865,710,27.31
116,Hanford-Corcoran,2024,95117.855556,8.790000,617.283966,1020.0,126600.0,39360.0,6.7410,6.002000,...,0.005495,0.000000,0.000000,4.063678e+13,1.351058e+12,4.218280e+11,1489900.0,6269.612956,410,26.37
117,Visalia,2024,83211.823485,10.720000,454.280048,45000.0,2383750.0,521750.0,6.7410,6.002000,...,0.093381,0.022133,0.000000,1.566641e+14,5.248267e+12,1.626650e+12,4647390.0,23741.819712,1510,24.98
118,El Centro,2024,81390.804167,17.830000,198.110760,25360.0,3102160.0,583920.0,6.7410,6.002000,...,0.008969,0.000000,0.000000,4.754377e+13,1.592286e+12,4.936454e+11,1673250.0,24620.576537,400,24.73
119,Bakersfield,2024,95716.932051,9.060000,885.379881,169600.0,11683200.0,2687200.0,6.7410,6.002000,...,0.025547,0.000000,0.000000,2.709119e+14,9.007054e+12,2.812187e+12,9045390.0,51926.125349,2350,24.19

In [78]:
final_merged_df.to_csv('../preprocessed/optimization_data.csv', index=False)